/*General*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*General*/

/*Header */

.navbar{
    justify-content: space-around;
}
.nav-bg{
    background-color: #0c1127;
 
}

.nav-link{
    color: #ffffff!important;
    padding: 0 36px!important;
}

.left img{
    width: 120px;
}
/*Header End*/

/*banner*/
.banner{
    background-image: url("img/banner.jpg");
    height: 540px;
    background-size: cover;
    color:#ffffff;
}

.contact-btn{
    border-radius: 20px;
    color:#ffffff;
    font-weight: 400;
    background-color: #fd5e00;
    border: none;
}

.box{
    padding-left: 14%;
}

.box p{
    padding: 16px 0;
}
/*banner end*/

/*blocks*/
.bg-orange,.bg-blue{
    text-align: center;
    color: #ffffff;
}
.bg-orange{
    background-color: #fd5e00;
}

.bg-blue{
    background-color: #0c1127;
}

.blocks p{
    padding: 8px;
    padding-bottom: 16px;
}
.blocks h5{
    padding-top: 8px;
}

.blocks i{
    font-size: 30px;
    padding-top: 38px;
    padding-bottom: 12px;

}
/*blocks end*/

/*Offer*/
.offer-img{
    height: 440px;
}


.logo-wrap{
    background-color: #fd5e00;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 21px;

}

.features-row h6{
    font-weight: 500;
}

.features-row p{
    font-weight: 400;
    color:grey;
}

.offer-mainrow h4{
    margin-top: 15px;
}

.mainrow-p{
    padding: 16px 0;
    color:grey;
}
.mainrow-left{
    padding-right: 24px;
}
/*Offer end*/

/*courses*/
.texts small{
    color:grey;
}
/*courses end*/

/*form*/
#request{
    background-image: url("img/request.jpg");
    height:480px;
    background-size: cover;
    color:#ffffff;
    display:flex;
    align-items: end;
}

.form-box{
width:480px;
margin-left:auto;
}

#request input,#request select,#request textarea{
    background:none;
    color:#ffffff;
    border:none;
    border-bottom: 1px solid #ffffff;
    padding:10px 0;
    width:100%;
}
option{
    color:#000000;
}
#request ::placeholder{
color:#ffffff;
}

.req-btn{
    width:100%;
    margin-top:32px;
}
#request input,#request select,#request textarea,#request option:focus{
outline:0;
}
/*form end*/


/*Subscription start*/
#subscribe{
    background-color: #1b1b1b;
    color:#ffffff;
}

li{
    list-style-type: none;
    padding-bottom: 12px;
}

.sub-btn{
border-radius:0!important;
border-top-right-radius: 2px!important;
border-end-end-radius: 2px!important;
height: 34px;
padding:4px 0.8rem;
margin-top: 16px;
}

.form-box2 .form-control{
    height:34px;
    margin-top: 16px;
}

.line{
    width:24px;
    height:2px;
    background-color: red;
    border-radius:4px;
    margin:12px 0;

}
/*Subscription end*/

footer{
    background-color: #111111;
    color:grey;
    padding:12px 0;
    font-weight:400;
}

span{
    color:#dcac16;
}

footer p{
    margin-bottom: 0;
}

/**Media Query*/

@media all and (max-width:992px){
    
    .navbar-toggler{
        background: white;
        margin-left: 30px;
        margin-bottom: 20px;
       
    }

    .navbar{
        justify-content: space-between;
    }
 }

 @media all and (max-width:768px){
    #request{
        height:auto;
    }
    .form-box{
        padding-top:30px;
        margin:auto;
        text-align:center;
    }
    .offer-img{
        display:block;
        margin:auto;
    }
 
 }

@media all and (max-width:700px){
    .banner{
        background-position: right;
        padding-left: 40px;
    }

    .box{
        padding-left:0;

    }
    .box p{
        padding-right:16px;
    }
}

@media all and (max-width:576px){
    .mainrow-left{
        text-align: center;
    }
    .logo-wrap{
        margin:auto;
    }
 }
 
 @media all and (max-width:560px){
    
    .form-box{
        width:100%;
    }
 }

@media all and (max-width:450px){
   .banner h1{
    font-size:24px;
   }
   .banner p{
    font-size:20px;
   }
}

@media all and (max-width:390px){
   .banner{
    background-position: 80%;
   }
   
}